In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

## Men's Data

In [5]:
# Load data into Pandas dataframes
mRegDetail = pd.read_csv('data/men data/MRegularSeasonDetailedResults.csv')
mTournDetail = pd.read_csv('data/men data/MNCAATourneyDetailedResults.csv')
mNames = pd.read_csv('data/men data/MTeamSpellings.csv')

In [3]:
mRegDetail

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118444,2025,120,1433,71,1182,62,A,0,23,55,...,16,16,24,11,19,9,15,8,5,16
118445,2025,120,1436,79,1107,71,H,0,28,48,...,20,12,15,10,18,11,8,9,0,15
118446,2025,120,1438,60,1199,57,H,0,21,53,...,22,4,7,12,21,12,8,7,9,15
118447,2025,120,1452,71,1428,69,A,0,26,57,...,28,22,32,10,26,11,16,7,3,17
118448,2025,120,1460,98,1237,85,H,0,36,57,...,24,9,14,4,12,16,4,7,1,16